@use "./base.scss";

//////////////////////////////////////////
// RecentNotesのコンパクト化

// フォントサイズを小さくし、太字をやめる
.recent-notes {
  font-size: 1.1rem !important;
  
  a {
    font-size: 1.1rem !important;
    font-weight: normal !important;
  }
}

// 行間を狭く
.recent-notes > ul.recent-ul > li {
  margin: 0 !important;
  margin-bottom: 0.1rem !important;
  line-height: 1.0 !important;
}

// 日付・タグを非表示
.recent-notes .meta,
.recent-notes .tags {
  display: none !important;
}

// スクロールバーを追加
.sidebar .recent-notes {
  max-height: 650px !important;
  overflow-y: auto !important;
  
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }
}

// ノート名を10文字程度で切る
.recent-notes li a {
  display: inline-block;
  max-width: 245px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
//////////////////////////////////////////



//////////////////////////////////////////
// 左上に画像を表示

.page>#quartz-body .sidebar {
  padding: 0; // こうしないと画像の上に100px近い空白ができてしまう
}

.left.sidebar h2.page-title::before {
  content: "";
  display: block;

  width: 150px;
  height: 150px;
  margin: 12px auto 6px auto;

  background-image: url("/static/cat.jpg"); // こうしないとlocalは404
//  background-image: url("/digital-garden/static/cat.jpg"); // こうしないとwebは404

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 0;
}
//////////////////////////////////////////
